<settings>
    <setting propertyKey="@Properties.foregroundColor" title="@Strings.ColorTitle">
        <settingConfig type="list">
            <listEntry value="16777215">@Strings.ColorWhite</listEntry>
            <listEntry value="16777130">@Strings.ColorCream</listEntry>
            <listEntry value="16776960">@Strings.ColorYellow</listEntry>
            <listEntry value="16777045">@Strings.ColorLightYellow</listEntry>
            <listEntry value="16755200">@Strings.ColorAmber</listEntry>
            <listEntry value="16755285">@Strings.ColorPeach</listEntry>
            <listEntry value="16733440">@Strings.ColorOrange</listEntry>
            <listEntry value="16711680">@Strings.ColorRed</listEntry>
            <listEntry value="16733525">@Strings.ColorCoral</listEntry>
            <listEntry value="16733610">@Strings.ColorHotPink</listEntry>
            <listEntry value="16733695">@Strings.ColorMagenta</listEntry>
            <listEntry value="11184895">@Strings.ColorLavender</listEntry>
            <listEntry value="11163135">@Strings.ColorPurple</listEntry>
            <listEntry value="5614335">@Strings.ColorSkyBlue</listEntry>
            <listEntry value="65535">@Strings.ColorCyan</listEntry>
            <listEntry value="5636095">@Strings.ColorIceBlue</listEntry>
            <listEntry value="65450">@Strings.ColorSeafoam</listEntry>
            <listEntry value="65280">@Strings.ColorGreen</listEntry>
            <listEntry value="5635925">@Strings.ColorLightGreen</listEntry>
            <listEntry value="11206400">@Strings.ColorLime</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.widget1" title="@Strings.Widget1Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WidgetNone</listEntry>
            <listEntry value="1">@Strings.WidgetHeartRate</listEntry>
            <listEntry value="2">@Strings.WidgetSteps</listEntry>
            <listEntry value="3">@Strings.WidgetCalories</listEntry>
            <listEntry value="4">@Strings.WidgetDistance</listEntry>
            <listEntry value="5">@Strings.WidgetFloors</listEntry>
            <listEntry value="6">@Strings.WidgetActiveMin</listEntry>
            <listEntry value="7">@Strings.WidgetBodyBattery</listEntry>
            <listEntry value="8">@Strings.WidgetStress</listEntry>
            <listEntry value="9">@Strings.WidgetRespiration</listEntry>
            <listEntry value="10">@Strings.WidgetTemperature</listEntry>
            <listEntry value="11">@Strings.WidgetHumidity</listEntry>
            <listEntry value="12">@Strings.WidgetDevBattery</listEntry>
            <listEntry value="13">@Strings.WidgetAltitude</listEntry>
            <listEntry value="14">@Strings.WidgetSunrise</listEntry>
            <listEntry value="15">@Strings.WidgetSunset</listEntry>
            <listEntry value="16">@Strings.WidgetSpO2</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.widget2" title="@Strings.Widget2Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WidgetNone</listEntry>
            <listEntry value="1">@Strings.WidgetHeartRate</listEntry>
            <listEntry value="2">@Strings.WidgetSteps</listEntry>
            <listEntry value="3">@Strings.WidgetCalories</listEntry>
            <listEntry value="4">@Strings.WidgetDistance</listEntry>
            <listEntry value="5">@Strings.WidgetFloors</listEntry>
            <listEntry value="6">@Strings.WidgetActiveMin</listEntry>
            <listEntry value="7">@Strings.WidgetBodyBattery</listEntry>
            <listEntry value="8">@Strings.WidgetStress</listEntry>
            <listEntry value="9">@Strings.WidgetRespiration</listEntry>
            <listEntry value="10">@Strings.WidgetTemperature</listEntry>
            <listEntry value="11">@Strings.WidgetHumidity</listEntry>
            <listEntry value="12">@Strings.WidgetDevBattery</listEntry>
            <listEntry value="13">@Strings.WidgetAltitude</listEntry>
            <listEntry value="14">@Strings.WidgetSunrise</listEntry>
            <listEntry value="15">@Strings.WidgetSunset</listEntry>
            <listEntry value="16">@Strings.WidgetSpO2</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.widget3" title="@Strings.Widget3Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WidgetNone</listEntry>
            <listEntry value="1">@Strings.WidgetHeartRate</listEntry>
            <listEntry value="2">@Strings.WidgetSteps</listEntry>
            <listEntry value="3">@Strings.WidgetCalories</listEntry>
            <listEntry value="4">@Strings.WidgetDistance</listEntry>
            <listEntry value="5">@Strings.WidgetFloors</listEntry>
            <listEntry value="6">@Strings.WidgetActiveMin</listEntry>
            <listEntry value="7">@Strings.WidgetBodyBattery</listEntry>
            <listEntry value="8">@Strings.WidgetStress</listEntry>
            <listEntry value="9">@Strings.WidgetRespiration</listEntry>
            <listEntry value="10">@Strings.WidgetTemperature</listEntry>
            <listEntry value="11">@Strings.WidgetHumidity</listEntry>
            <listEntry value="12">@Strings.WidgetDevBattery</listEntry>
            <listEntry value="13">@Strings.WidgetAltitude</listEntry>
            <listEntry value="14">@Strings.WidgetSunrise</listEntry>
            <listEntry value="15">@Strings.WidgetSunset</listEntry>
            <listEntry value="16">@Strings.WidgetSpO2</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.widget4" title="@Strings.Widget4Title">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WidgetNone</listEntry>
            <listEntry value="1">@Strings.WidgetHeartRate</listEntry>
            <listEntry value="2">@Strings.WidgetSteps</listEntry>
            <listEntry value="3">@Strings.WidgetCalories</listEntry>
            <listEntry value="4">@Strings.WidgetDistance</listEntry>
            <listEntry value="5">@Strings.WidgetFloors</listEntry>
            <listEntry value="6">@Strings.WidgetActiveMin</listEntry>
            <listEntry value="7">@Strings.WidgetBodyBattery</listEntry>
            <listEntry value="8">@Strings.WidgetStress</listEntry>
            <listEntry value="9">@Strings.WidgetRespiration</listEntry>
            <listEntry value="10">@Strings.WidgetTemperature</listEntry>
            <listEntry value="11">@Strings.WidgetHumidity</listEntry>
            <listEntry value="12">@Strings.WidgetDevBattery</listEntry>
            <listEntry value="13">@Strings.WidgetAltitude</listEntry>
            <listEntry value="14">@Strings.WidgetSunrise</listEntry>
            <listEntry value="15">@Strings.WidgetSunset</listEntry>
            <listEntry value="16">@Strings.WidgetSpO2</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.BackgroundColor"
             title="@Strings.SettingBgTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SettingBgBlack</listEntry>
            <listEntry value="1">@Strings.SettingBgWhite</listEntry>
        </settingConfig>
    </setting>
</settings>
